{% extends "layouts/main.html" %}
{% block title %}Error 404{% endblock %}
{% block header %}Error 404{% endblock %}
{% block buttons %}
    <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('dashboard.index') }}">Back to dashboard</a>
    </div>
{% endblock %}

{% block content %}
<div class='container'>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Page not found</h1>
        <p class="lead">Something went wrong. The page you are looking for can't be found.</p>
      </div>
    </div>
</div>
{% endblock %}
