<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Grainery" />
    <meta name="author" content="Jaroslav Kvasnica" />

    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />

     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
     <link rel="stylesheet" href="{{ url_for('static', filename='icons/font/css/open-iconic-bootstrap.css') }}" />
     <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />

     {% block custom_links %}{% endblock %}

  </head>
  <body>

  <header>
      <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('dashboard.index') }}">Grainery</a>
        <form class="w-100" method="POST" action="{{ url_for('search.search') }}">
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" name="query">
        </form>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="http://github.com/webarchivcz/grainery/wiki">Docs</a>
            </li>
        </ul>
      </nav>
  </header>

<div class="container-fluid">
  <main role="main" class="px-4">
    <br>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{% block header %}{% endblock %}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                {% block buttons %}{% endblock %}
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="px-4">
      <nav class="navbar navbar-light container py-5">
        <span>Created by <a href="https://www.webarchiv.cz/"><span class="wa-logo-style" style="font-size: 110%">Webarchiv</span></a></span>
        <a rel="license" href="https://github.com/webarchivcz/grainery" class="wa-logo-style">Github</a>
      </nav>
  </footer>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</html>
