{% extends "layouts/main.html" %}
{% block title %}Webarchiv.cz - grainery{% endblock %}
{% block custom_links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh-1.0.4.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh-widgets-1.0.4.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh-tables-1.0.4.min.css') }}" />
<script src="{{ url_for('static', filename='js/bokeh-1.0.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bokeh-widgets-1.0.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bokeh-tables-1.0.4.min.js') }}"></script>
{% endblock %}
{% block header %}Dashboard{% endblock %}
{% block buttons %}
    <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('browse.harvests', page=0) }}">Browse</a>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard.index') }}">Harvests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('dashboard.cdash') }}">Containers</a>
                </li>
            </ul><br>
            <div class="row">
                <div class="col-6 col-md-4">
                    <table class="table table-responsive">
                        <h3>Last added container</h3>
                        <tbody>
                            <tr>
                                <td scope="row"> import date </td>
                                <td> {{last.date|nicedate}} </td>
                            </tr>
                            <tr>
                                <td scope="row"> standard </td>
                                <td> {{last.standard}}</td>
                            </tr>
                            <tr>
                                <td scope="row"> is part of </td>
                                <td><a href="{{ url_for('browse.harvest', id=last.paths.harvestID) }}">{{last.container.isPartOf}}</a></td>
                            </tr>
                            <tr>
                                <td scope="row"> harvestID </td>
                                <td> {{last.paths.harvestID}}</td>
                            </tr>
                            <tr>
                                <td scope="row"> date of origin</td>
                                <td> {{last.container.dateOfOrigin|nicedate}}</td>
                            </tr>
                            <tr>
                                <td scope="row"> filename </td>
                                <td> {{last.container.filename}}</td>
                            </tr>
                            <tr>
                                <td scope="row"> size </td>
                                <td> {{last.container.size|nicesize}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-md-8">
                    <h3>Container count</h3>
                    {{ script|safe }}
                    {{ div|safe }}
                    <br>
                </div>
                </div>
    </div>
{% endblock %}
