{% extends "layouts/main.html" %}
{% set active_page = "harvests" %}
{% block title %}List of harvests{% endblock %}
{% block content %}
<div class='container'>
    <h1>List of harvests</h1>
    <table class="table table-bordered table-striped">
        <thead>
             <thead>
                <tr>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Operator</th>
                </tr>
              </thead>
        </thead>
        <tbody>
            {% for x in harvs %}
                <tr>
                    <td><a href="{{ url_for('harvests.harvest', id=x._id) }}">{{ x.harvest.harvestName }}</td>
                    <td>{{ x.harvest.dateOfValidation }}</td>
                    <td>{{ x.harvest.operator }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
</div>
{% endblock %}
