{% extends "layouts/main.html" %}
{% block title %}Harvest full view{% endblock %}
{% block header %}{{harv.harvest.harvestName}}{% endblock %}
{% block buttons %}
    <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('harvests.containers', harvestID=harv.paths.harvestID, page=0) }}">Get list of containers</a>
        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('harvests.harvests', page=0) }}">Back</a>
    </div>
{% endblock %}
{% block content %}
<div class='container'>
    <table class="table table-bordered table-sm">
        <tbody>
            {% for a, b in harv.items() %}
                {% if b is not mapping %}
                    <tr><td>{{ a }}</td><td colspan="3" class="table-active">{{ b }}</td></tr>
                {% endif %}
            {% endfor %}

            {% for a, b in harv.items() %}
                {% if b is mapping %}
                    <tr><td colspan="4"><b>{{a}}</b></td><tr>
                    {% for c, d in b.items() %}
                            <tr><td>{{ c }}</td><td colspan="3" class="table-active">{{ d }}</td></tr>
                     {% endfor %}
                {% endif %}
             {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
