{% extends "layouts/main.html" %}
{% block title %}Results{% endblock %}
{% block header %}Results{% endblock %}
{% block buttons %}
    <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('dashboard.index') }}">Back to dashboard</a>
    </div>
{% endblock %}

{% block content %}
<div class='container'>
    <table class="table table-bordered table-striped">
        <thead>
             <thead>
                <tr>
                {% if error is defined %}
                <th>{{error}}</th>
                {% elif length == 0 %}
                <th>No results for {{query}}</th>
                {% else %}
                  <th>Name</th>
                  <th>Date</th>
                  <th>Operator</th>
                 {% endif %}
                </tr>
              </thead>
        </thead>
        <tbody>
            {% for x in results %}
                <tr>
                    <td><a href="{{ url_for('browse.harvest', id=x.paths.harvestID) }}">{{ x.harvest.harvestName }}</td>
                    <td>{{ x.harvest.date|nicedate }}</td>
                    <td>{{ x.harvest.operator }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
</div>
{% endblock %}
